<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			background-color: aliceblue;
			display: grid;
			place-items: center;
			height: 100vh;
		}

		.button {
			background-color: #fff;
			border: 1px solid #cacaca;
			border-radius: 4px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
			color: #ff7a18;
			cursor: pointer;
			padding: 35px 55px;
			transition: all 0.1s ease-in;
		}

		.button:hover {
			box-shadow: none;
			color: #777;
		}

		.button:active {
			box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
		}
	</style>
	<title>Document</title>
</head>

<body>
	<button class="button"> DEPTH </button>
</body>

</html>