/* 
Important Links to different Websites
https://css.glass/  =  for blur div 

https://micku7zu.github.io/vanilla-tilt.js/   = for tilt effect with mouse

Framer motion Animation ki best and so simple library h(ebad)
https://www.framer.com/motion/

block level element stretch with width auto

display:flex; se block hat jata hy

flex: 1  flex-1 is shorthand for 
flex-grow:1;   	allow grow
flex-shrink:1;	allow shrink
flex-basis:1;  (basis is kinda like width)
use width or flex-basis one of them

change flex direction for responsiveness 
use gap instead of margin padding


use
  transform: translate(-1.5rem,-1.5rem);
instead of position: absolute;

- min max width ki aadat daalni pare gyi(P.S aj se phale ma ye use nhi karta tha)
- use gap

25-Feb-2023
- You can't use z-index without positioning 
- position relative is not free from html(document flow) but it can change its position with top:0;
- absolute is free from html and is according to some parent which have any positioning 
- width=don't use vh,wv use % | ch is the width of one character of that font because in typography we don't go above 72 char for readability
- Height= think again do you really need a height and it set min-height
- Img per max-width diya karo (some time max-width: 100%;) aur display: block;

27-Feb-2023
:hover pseudo class
::after ::before is pseudo element (dosen't work on imgs)


another aspect of stacking context is that a child element is limited to the stacking context of its parent.

10-Mar-2023
animation can be paued and resumed in CSS

12-Mar-2023
📃NOTES: CSS transitions work on number based properties so changing
'display:block' to 'display:none' will not work like we'd hope it would 😭.
💣 Remember with 0 opacity an element still exists in in the layout AND
will capture clicks meant for anything below that element. You will need
display and visibility tricks in CSS to get around that or javascript.

*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

.a {
  object-fit: cover;
  display: flex;
  flex: 1;
}

.smol-flexbox-grid {
  --min: 10ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.smol-flexbox-grid > * {
  flex: 1 1 var(--min);
}

button,
input,
textarea,
select {
  font: inherit;
}
