/* 
Improtant Links to different Websites
https://css.glass/  =  for blur div 

https://micku7zu.github.io/vanilla-tilt.js/   = for tilt effect with mouse

Framer motion Animation ki best and so simple library h(ebad)
https://www.framer.com/motion/

block level element streach with width auto

display:flex; se block hat jata hy

flex: 1  flex-1 is shorthand for 
flex-grow:1;   	allow grow
flex-shrink:1;	allow shrink
flex-basis:1;  (basis is kinda like width)
use width or flex-basis one of them













*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

.a {
  object-fit: cover;
}

.smol-flexbox-grid {
  --min: 10ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.smol-flexbox-grid > * {
  flex: 1 1 var(--min);
}

button,
input,
textarea,
select {
  font: inherit;
}
