<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div>

		<span class="multi-headline"></span>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
	<script>
		let typed = new Typed(".multi-headline", {
			strings: ["Frontend Developer", "MERN Developer", "Graphic Designer", "Freelancer", "Bloger"],
			typeSpeed: 80,
			backSpeed: 80,
			backdelay: 1000,
			loop: true
		})

	</script>
</body>

</html>